header{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    background-color: rgb(227, 227, 227);
    display:block;
    height: 50em;
    width: 19em;
    margin: auto;
    margin-top: 40px;
    border-radius: 1%;
    padding: 10px;
}

#banner{
    width: 18em;
    height: auto;
}

h1{
    color: rgb(56, 92, 56);
}

body{
    background-color: black;
}

p{
    font-size: 12px;
}

input{ 
    height: 30px;
    width: 295px;
    margin: auto;
}

#confirm{
    background-color: rgb(118, 92, 71);
    color: rgb(227, 227, 227);
    height: 2em;
    width: 12em;
    margin-left: 17px;
    font-size: 22px;
}

#check{
    height: 20px;
    margin-left: -136px;
}

label{
    font-size: 14px;
}

footer{
    font-size: 8px;
    text-align: center;
}